/* Apply border-box globally to this component to prevent overflow */
.container,
.container * {
  box-sizing: border-box !important;
}

.container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}
.form input:focus {
  border-color: #516cf0;
}

.password_wrapper {
  position: relative;
  width: 100%;
}

.password_wrapper input {
  padding-right: 45px !important; /* Space for eye icon */
}

.eye_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #676767;
  display: flex;
  align-items: center;
}

.forgot_link_container {
  text-align: right;
  width: 100%;
  margin-top: -5px;
}

.forgot_link {
  font-size: 13px;
  color: #fe8402 !important; /* Forces Orange Color */
  text-decoration: none;
  font-weight: 500;
}

.forgot_link:hover {
  text-decoration: underline;
}

.login_submit {
  width: 50% !important;
  display: block !important;
  margin: 20px auto 10px auto !important;
  padding: 12px 0 !important;
  font-weight: 600;
  color: #f7f8f9;
  background-color: #fe8402;
  cursor: pointer;
  border: none;
}

.error {
  color: #d0393e;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
